.eventFormContainer{
  margin: auto;
  width: 50%;
}


.eFormError{
  margin-top:1px;
  margin-bottom: 1px;
}

.formSection{
  border-bottom:solid black 1px;
  padding-bottom: 8px;
}

.eventFormContainer>h2{
  margin-bottom:2px;
}

.eventFormQuestion{
  margin-bottom: 0px;
}

.eventFormContainer textarea{
    width: 295px;
    height: 160px;
}

.eventFormContainer button{
  background-color: red;
  cursor: pointer;
  border: solid black 1px;
  box-shadow: 2px 2px 4px black;
  color: white;
  margin-top: 10px;
}
