.groupDetailsContainer{
  margin-left:20%;
}

@media screen and (min-width: 1696px){
  .groupDetailsContainer{
    margin-left:35%;
  }
}

.groupDetailsContainer>a{
  color:blue;
}

.groupDetailsHeader{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.groupDetailsHeaderPillar{
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.groupDetailsHeaderPillar p{
  margin-top:1px;
}

.lesser{
  color:gray;
  font-size:13px;
}

#joinGroupBtn{
  background-color: red;
  color:white;
  margin-top:35px;
  height:40px;
}

#loggedInButtonsForGroup{
  column-gap: 5px;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  margin-top: 54px;
}

#loggedInButtonsForGroup>button{
  background-color: darkgray;
  color: white;
  font-size: 10px;
  height: 23px;
  width: 74px;
}

#groupImage{
  height: 200px;
  width: 350px;
}
