.NavBar{
  align-items: center;
  border-bottom: solid black 1px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 5px;
  padding-right: 20px;
  width: 90%;
}

#title{
  font-size: 24px;
  font-family: 'Borel', cursive;
  font-weight: bold;
  text-decoration: none;
}

.navButtons{
  align-items:center;
  display:flex;
  flex-direction: row;
  row-gap: 5px;
}

.navLoggedOut{
  flex-direction:row;
  column-gap:10px;
}

.navButtons>button{
  column-gap: 20px;
  height: 26px;
  width:auto;
}

.navLoggedOut>button:hover{
  border: solid black 1px;
}

.navButtons>a:hover, .homeButton>a:hover{
  border-bottom: solid 1px;
  cursor:pointer;
}

.NavBar li{
  list-style:none;
}

.profile-dropdown{
  align-items: flex-start;
  background-color: white;
  border: solid black 1px;
  color: black;
  display:flex;
  flex-direction: column;
  margin-top:5px;
  padding: 5px 10px;
  position: absolute;
  top: 64px;
}

.modalLine{
  border-bottom: solid black 2px;
  display:flex;
  flex-direction: column;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.profile-dropdown button{
  width: 90px;
}

.homeButton>a{
  color:red;
  cursor:pointer;
  font-size: 24px;
  text-decoration: none;
}

.navLoggedIn{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}

.navButtons a{
  margin-right: 5px;
  align-self: center;
  color: teal;
  text-decoration: none;
}
